@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&family=Saira:ital,wght@0,100..900;1,100..900&display=swap");
body {
  font-family: "Rubik", sans-serif;
  background-color: #111;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.1 !important;
}

img {
  width: auto;
  height: 100%;
}

.btn {
  border-radius: 2px !important;
  padding: 8px 20px !important;
}
.btn i {
  margin-right: 4px;
}

#header-wrapper {
  background-color: #000;
  padding: 0.5rem 0;
}

.main-menu {
  display: flex;
  justify-content: end;
  margin-bottom: 0.5rem;
}
.main-menu .nav-link {
  color: #fff;
  padding: 0 1rem !important;
  text-transform: capitalize;
}
.main-menu .navbar-nav .nav-link.active,
.main-menu .navbar-nav .nav-link.show {
  color: #FFF832;
}

.sub-menu {
  display: flex;
  justify-content: end;
}
.sub-menu .nav-item {
  border-right: solid 1px #fff;
}
.sub-menu .nav-item:last-child {
  border: none;
}
.sub-menu .nav-link {
  color: #FFF832;
  padding: 0 1rem !important;
  text-transform: uppercase;
}
.sub-menu .navbar-nav .nav-link.active,
.sub-menu .navbar-nav .nav-link.show {
  color: #FFF832 !important;
  opacity: 0.75;
}

#hero-wrapper {
  background: url("../assets/images/qwest-cranes-hero.jpg") no-repeat;
  background-size: cover;
  height: 80vh;
}

.hero-content h1 {
  font: bold 56px "Saira";
  color: #fff;
}
.hero-content p {
  font: normal 18px "Rubik";
  color: #fff;
  width: 80%;
  line-height: 1.5;
}

.hero-cta img {
  width: 48px;
}
.hero-cta .hero-cta-number {
  margin-left: 12px;
}
.hero-cta .hero-cta-number h2 {
  font: bold 36px "Saira";
  font-style: italic;
  color: #FFF832;
  margin-bottom: 0.25rem;
}
.hero-cta .hero-cta-number h6 {
  font: 500 18px "Saira";
  font-style: italic;
  color: #fff;
}

#home-boxes {
  position: relative;
  top: -100px;
}
#home-boxes .home-boxes-content {
  -webkit-clip-path: polygon(350px 0, 100% 50px, 100% 100%, 0 100%, 0 0);
          clip-path: polygon(350px 0, 100% 50px, 100% 100%, 0 100%, 0 0);
  background: #FFF1A3;
  background: linear-gradient(135deg, #FFF1A3, #FFF932);
  height: 200px;
  width: 100%;
  text-align: center;
  padding: 2rem;
}
#home-boxes .home-boxes-content h2 {
  font: bold 32px "Saira";
  color: #222;
}

#home-intro {
  padding: 3rem 0 5rem 0;
}
#home-intro .intro-content-img img {
  width: 95%;
}
#home-intro .intro-content h2 {
  font: bold 48px "Saira";
  color: #FFF;
  margin-bottom: 0.25rem;
}
#home-intro .intro-content p {
  font: normal 18px "Rubik";
  color: #fff;
  line-height: 1.5;
}
#home-intro .intro-content .intro-list {
  margin: 1rem 0;
}
#home-intro .intro-content .intro-list p {
  margin-bottom: 0;
}
#home-intro .intro-content .intro-list .intro-list-img {
  margin-right: 24px;
}

#home-offer {
  padding: 5rem 0 3rem 0;
  background: #252525;
}
#home-offer .offer-header small {
  font: normal 14px "Rubik";
  color: #777;
  line-height: 1.5;
  text-transform: uppercase;
}
#home-offer .offer-header h2 {
  font: bold 44px "Saira";
  color: #fff;
}
#home-offer .offer-header p {
  font: normal 18px "Rubik";
  color: #fff;
  line-height: 1.5;
}
#home-offer .offer-img {
  -webkit-clip-path: polygon(350px 0, 100% 50px, 100% 100%, 0 100%, 0 0);
          clip-path: polygon(350px 0, 100% 50px, 100% 100%, 0 100%, 0 0);
  height: 275px;
}
#home-offer .offer-img img {
  width: 100%;
}
#home-offer .offer-box {
  padding: 2rem;
  background: #fff;
  margin-bottom: 2rem;
}
#home-offer .offer-box:hover {
  background: #FFF832;
}
#home-offer .offer-box h3 {
  font: bold 28px "Saira";
}

#home-features {
  padding: 5rem 0;
}
#home-features .features-header {
  text-align: center;
  margin-bottom: 3rem;
}
#home-features .features-header small {
  font: normal 14px "Rubik";
  color: #777;
  line-height: 1.5;
  text-transform: uppercase;
}
#home-features .features-header h2 {
  font: bold 44px "Saira";
  color: #fff;
}
#home-features .features-header p {
  font: normal 18px "Rubik";
  color: #fff;
  line-height: 1.5;
}
#home-features .features-box {
  text-align: center;
}
#home-features .features-box img {
  margin-bottom: 2rem;
}
#home-features .features-box h3 {
  font: bold 32px "Saira";
  color: #FFF832;
  margin-bottom: 0.25rem;
}
#home-features .features-box p {
  font: normal 18px "Rubik";
  color: #fff;
  line-height: 1.5;
}

#home-proj {
  padding: 5rem 0;
  background: #252525;
}
#home-proj .proj-header {
  margin-bottom: 3rem;
}
#home-proj .proj-header small {
  font: normal 14px "Rubik";
  color: #777;
  line-height: 1.5;
  text-transform: uppercase;
}
#home-proj .proj-header h2 {
  font: bold 44px "Saira";
  color: #fff;
}
#home-proj .proj-header p {
  font: normal 18px "Rubik";
  color: #fff;
  line-height: 1.5;
}
#home-proj .proj-slider .proj-item {
  position: relative;
}
#home-proj .proj-slider .proj-item img {
  border-radius: 2px;
}
#home-proj .proj-slider .proj-item a {
  position: absolute;
  left: 1rem;
  top: 1rem;
  font: normal 16px "Rubik";
  color: #fff;
  line-height: 1.5;
  text-decoration: none;
  padding: 0.5rem 1rem;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 2px;
}
#home-proj .proj-slider .owl-nav {
  position: absolute;
  bottom: 1rem;
  left: 1rem;
  z-index: 90;
}
#home-proj .proj-slider .owl-nav .owl-prev {
  background: #FFF832;
  width: 35px;
  height: 35px;
}
#home-proj .proj-slider .owl-nav .owl-prev:hover {
  color: #111;
}
#home-proj .proj-slider .owl-nav .owl-next {
  background: #FFF832;
  width: 35px;
  height: 35px;
}
#home-proj .proj-slider .owl-nav .owl-next:hover {
  color: #111;
}

footer {
  padding: 5rem 0;
  background: url("../assets/images/cranes-4139905_1920.png") no-repeat;
  background-size: 100%;
  background-position: bottom center;
}
footer .footer-cta {
  -webkit-clip-path: polygon(95% 0, 100% 50px, 100% 100%, 0 100%, 0 0);
          clip-path: polygon(95% 0, 100% 50px, 100% 100%, 0 100%, 0 0);
  background: #FFF1A3;
  background: linear-gradient(135deg, #FFF1A3, #FFF932);
  padding: 2rem;
}
footer .footer-cta h2 {
  font: bold 44px "Saira";
}
footer .footer-cta p {
  font: normal 18px "Rubik";
  line-height: 1.5;
}
footer .footer-logo img {
  margin: 4rem 0;
}
footer .footer-contact {
  margin: 0 0 2rem 0;
}
footer .footer-contact h4 {
  font: bold 18px "Saira";
  line-height: 1.5;
  color: #fff;
  margin-bottom: 2rem;
}
footer .footer-contact h2 {
  font: bold 28px "Saira";
  line-height: 1.5;
  color: #FFF832;
  margin: 1.5rem 0;
}
footer .footer-contact p {
  font: normal 16px "Rubik";
  line-height: 1.5;
  color: #fff;
}
footer .footer-social ul {
  margin: 0;
  padding: 0;
}
footer .footer-social ul li {
  list-style: none;
  display: inline;
}
footer .footer-social ul li a {
  color: #fff;
  text-decoration: none;
  font-size: 24px;
  margin-right: 12px;
}
footer .footer-link-col {
  gap: 60px;
}
footer .footer-links h4 {
  font: bold 18px "Saira";
  line-height: 1.5;
  color: #fff;
  margin-bottom: 2rem;
}
footer .footer-links ul {
  margin: 0;
  padding: 0;
}
footer .footer-links ul li {
  list-style: none;
  margin: 0.5rem 0;
}
footer .footer-links ul li a {
  font: normal 16px "Rubik";
  line-height: 1.5;
  color: #fff;
  text-decoration: none;
}
footer .footer-copyright {
  margin-top: 4rem;
}
footer .footer-copyright p {
  font: normal 16px "Rubik";
  line-height: 1.5;
  color: #fff;
}
footer .footer-copyright a {
  font: normal 16px "Rubik";
  line-height: 1.5;
  color: #fff;
  text-decoration: none;
  margin-right: 12px;
}

/* SUB-PAGES */
#loc-search {
  padding: 5rem 0;
}
#loc-search .loc-search-content {
  text-align: center;
}
#loc-search .loc-search-content h1 {
  font: bold 40px "Saira";
  line-height: 1.5;
  color: #fff;
  margin-bottom: 2rem;
}
#loc-search .loc-search-content p,
#loc-search .loc-search-content label {
  font: normal 16px "Rubik";
  line-height: 1.5;
  color: #fff;
}
#loc-search .loc-search-img img {
  width: 100%;
}

.search-results {
  padding: 0.5rem 2rem;
  background: #fff;
}
.search-results .result-item {
  -webkit-clip-path: polygon(85% 0, 100% 50px, 100% 100%, 0 100%, 0 0);
          clip-path: polygon(85% 0, 100% 50px, 100% 100%, 0 100%, 0 0);
  background: #eee;
  padding: 2rem;
  margin: 2rem 0;
}
.search-results .result-item h2 {
  font: bold 24px "Saira";
  line-height: 1.5;
}
.search-results .result-item p {
  font: normal 16px "Rubik";
  line-height: 1.5;
}
.search-results .result-item.selected {
  -webkit-clip-path: polygon(85% 0, 100% 50px, 100% 100%, 0 100%, 0 0);
          clip-path: polygon(85% 0, 100% 50px, 100% 100%, 0 100%, 0 0);
  background: #FFF1A3;
  background: linear-gradient(135deg, #FFF1A3, #FFF932);
  padding: 2rem;
}
.search-results .result-item.selected h2 {
  font: bold 24px "Saira";
  line-height: 1.5;
}
.search-results .result-item.selected p {
  font: normal 16px "Rubik";
  line-height: 1.5;
}
.search-results .map-content {
  width: 100%;
  height: 100%;
  background: #fff;
}

/* RESPONSIVE - MEDIA QUERIES */
@media only screen and (max-width: 1024px) {
  .sub-menu .nav-item {
    border: none;
  }
  .main-menu {
    margin: 0 -15px;
    padding-top: 2rem;
  }
  .main-menu li {
    margin: 0.25rem 0;
  }
  .sub-menu {
    margin: 2rem -15px 0 -15px;
    padding: 2rem 0;
    border-top: solid 1px #222;
  }
  .sub-menu li {
    margin: 0.25rem 0;
  }
  #home-boxes .home-boxes-content {
    -webkit-clip-path: polygon(90% 0, 100% 50px, 100% 100%, 0 100%, 0 0);
            clip-path: polygon(90% 0, 100% 50px, 100% 100%, 0 100%, 0 0);
    margin: 1rem 0;
  }
  #home-boxes {
    position: relative;
    top: 2rem;
  }
  #home-offer .offer-img {
    -webkit-clip-path: polygon(85% 0, 100% 50px, 100% 100%, 0 100%, 0 0);
            clip-path: polygon(85% 0, 100% 50px, 100% 100%, 0 100%, 0 0);
  }
  #hero-wrapper {
    padding: 10rem 0;
    height: auto;
  }
  .footer-links {
    margin: 2.5rem 0 0 0;
  }
}
@media only screen and (max-width: 768px) {
  .navbar-brand img {
    height: 48px;
  }
  .sub-menu .nav-item {
    border: none;
  }
  #header-wrapper {
    padding: 0.5rem;
  }
  .main-menu {
    margin: 0;
    padding-top: 2rem;
  }
  .main-menu li {
    margin: 0.25rem 0;
  }
  .sub-menu {
    margin: 2rem 0 0 0;
    padding: 2rem 0;
    border-top: solid 1px #222;
  }
  .sub-menu li {
    margin: 0.25rem 0;
  }
  #hero-wrapper,
  #home-boxes,
  #home-offer,
  #home-features,
  #home-proj,
  #loc-search,
  footer {
    padding: 4rem 1rem;
  }
  #home-intro {
    padding: 0 1rem 4rem 1rem;
  }
  .hero-content h1 {
    font-size: 44px;
  }
  .hero-cta .hero-cta-number h2 {
    font-size: 32px;
  }
  #home-boxes {
    position: relative;
    top: 0;
  }
  #home-features .features-box {
    margin: 1.5rem 0;
  }
  .offer-header {
    margin-bottom: 2rem;
  }
  #home-offer .offer-img {
    -webkit-clip-path: polygon(85% 0, 100% 50px, 100% 100%, 0 100%, 0 0);
            clip-path: polygon(85% 0, 100% 50px, 100% 100%, 0 100%, 0 0);
  }
  #home-boxes .home-boxes-content {
    -webkit-clip-path: polygon(85% 0, 100% 50px, 100% 100%, 0 100%, 0 0);
            clip-path: polygon(85% 0, 100% 50px, 100% 100%, 0 100%, 0 0);
    margin: 1rem 0;
  }
  footer .footer-cta {
    -webkit-clip-path: polygon(85% 0, 100% 50px, 100% 100%, 0 100%, 0 0);
            clip-path: polygon(85% 0, 100% 50px, 100% 100%, 0 100%, 0 0);
  }
  .footer-links {
    margin: 2.5rem 0 0 0;
  }
}/*# sourceMappingURL=main.css.map */